@{
    ViewBag.Title = "Vibe Attack";
}

<div class="row">
    <div class="col-md-12 main-center">
        <h1 class="heading-index">VIBE ATTACK</h1>
        <div class="sub-heading-index">
            <h2>MASSIVE, coming soon</h2>
            <img src="~/Image/eyes.png"/>
        </div>
        
    </div>
</div>

<div class="center-logo">
    <img src="~/Image/vibe-attack.png" />
</div>

<!-- Not a fan? [Insert colour slider to change background]
    Sign up for Mailing List MS98 Style-->