
@{
    ViewBag.Title = "Privacy";
}

<article>
        <h1>Welcome to our Privacy Policy</h1>
        <h3>Your privacy is critically important to us.</h3>
        Vibe Attack is located at:<br />
        <address>
            Vibe Attack<br />Peterborough <br />- Cambridgeshire , United Kingdom<br />
        </address>
    <p>Vibe Attack is the umbrella term for other projects including Student State.</p>
    <p>It is Vibe Attack's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="https://vibeattack.azurewebsites.net/">https://vibeattack.azurewebsites.net/</a> (hereinafter, "us", "we", or "https://vibeattack.azurewebsites.net/"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
    <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

    <h2>Website Visitors</h2>
    <p>Like most website operators, Vibe Attack collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Vibe Attack's purpose in collecting non-personally identifying information is to better understand how Vibe Attack's visitors use its website. From time to time, Vibe Attack may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
    <p>Vibe Attack also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://vibeattack.azurewebsites.net/ blog posts. Vibe Attack only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>


    <h2>Security</h2>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

    <h2>Advertisements</h2>
    <p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Vibe Attack and does not cover the use of cookies by any advertisers.</p>


    <h2>Privacy Policy Changes</h2>
    <p>Although most changes are likely to be minor, Vibe Attack may change its Privacy Policy from time to time, and in Vibe Attack's sole discretion. Vibe Attack encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>



    <h2></h2>
    <p></p>

    <h2>Credit & Contact Information</h2>
    <p>If you have any questions about this Privacy Policy, please contact us via <a href="mailto:willjicar@gmail.com">email</a>.</p>
</article>